<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
    <add name="ConnectionString" connectionString="Integrated Security=False;Pooling=false;Data Source=localhost;Initial Catalog=DbXbiTool;User ID=sa;Password=123456;" />
    <add name="ConnectionString" connectionString="XpoProvider=Postgres;Server=127.0.0.1;User ID=postgres;Password='';Database=DbXbiTool;Port=5432"/>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XBIToolEasyTest"/>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XBITool" />
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=SiConCa.mdb;Mode=Share Deny None;"/>
    <add name="ConnectionString" connectionString="XpoProvider=Postgres;Server=127.0.0.1;User ID=postgres;Password='sa';Database=DBSiConCa;Port=5432" />
    -->
    <add name="fe_db" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=fe_hacienda;Connection Lifetime=0;Connection Timeout=60;" />
    <add name="fe_db_des" providerName="MySql.Data.MySqlClient" connectionString="server=mysql5015.site4now.net;user id=9d9d73_fedes;password=msala.01;persistsecurityinfo=True;database=db_9d9d73_fedes;Connection Lifetime=0;Connection Timeout=60;" />
    <add name="fe_db_prd" providerName="MySql.Data.MySqlClient" connectionString="server=mysql5017.site4now.net;user id=9d9d73_feprd;password=msala.01;persistsecurityinfo=True;database=db_9d9d73_feprd;Connection Lifetime=0;Connection Timeout=60;" />
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="VfpEntityFrameworkProvider2" type="VfpEntityFrameworkProvider.VfpProviderServices, VfpEntityFrameworkProvider" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>